# PyCity Schools Analysis

- Your analysis here
  
---

In [40]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

In [28]:
# Calculate the total number of unique schools
school_unique = school_data_complete["school_name"].unique()

school_count = len(school_unique)

# Print the total number of unique schools
print(school_count)

15

In [29]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()

# Print the total number of students
print(student_count)

39170

In [39]:
# Calculate the total budget
school_budget_df = school_data_complete["budget"].unique()
total_budget = school_budget_df.sum()

# Print the total budget
print(total_budget)

24649428

In [41]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [42]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [51]:
# Use the following to calculate the percentage 
# of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(
    school_data_complete["math_score"] >= 70)].count()["student_name"]

passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [44]:
# Calculate the percentage of students who passed reading
# (hint: look at how the math percentage was calculated)  


passing_reading_count = school_data_complete[(
    school_data_complete["reading_score"] >= 70)].count()["student_name"]


passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [52]:
# Use the following to calculate the percentage of students
# that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [57]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":  [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                "% Passing Reading": [passing_reading_percentage],
                                "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326